{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}

<!-- HERO SECTION -->
<div class="hero text-center py-5">
  <div class="container">
    <h1 class="display-4 fw-bold">Student Management System</h1>
    <p class="lead mt-3">
      Organize students, courses, and academic progress efficiently.
    </p>

    <div class="d-flex justify-content-center gap-3 mt-4">
      <a href="{% url 'accounts:login' %}"
         class="btn btn-light btn-lg px-4">
        Login
      </a>

      <a href="{% url 'accounts:register_student' %}"
         class="btn btn-outline-light btn-lg px-4">
        Register Student
      </a>
    </div>
  </div>
</div>


{% endblock %}
